@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,600&display=swap');

html{
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
    font-family: 'Poppins',
    sans-serif !important;
}
.carousel-item h2{
    font-size: 40px;
    font-weight: 600;
    
}

.carousel-item p {
    font-size: 16px;
    font-weight: 300;
    
}
.carousel-item{
    max-height: 90vh;
    
}
footer{
    background-color: #0B0D17;
}

footer small{
    text-align: center;
    color: #fff;
    
}
@media (max-width:800px) {
    .carousel-item{
        height: 70vh;
    }
    .carousel-item img{
        height: 100%;
        transform: scale(1.3);
    }
    .carousel-item h2 {
        font-size: 24px;
        font-weight: 600;
    }
}
@media (max-width:600px) {
    .carousel-item img {
        height: 100%;
        transform: scale(1.7);
    }
}